body{
  background-image: asset_path('fond_cat.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.jumbotron{
  background-color: #CEEEDF;
}

.bg-rose{
  background-color: #FFD9F6;
}

.text-bleuk{
  color: #A6ECFE;
}

.btn-success{
  background-color: #A6ECFE;
  border-color: #A6ECFE;
}

.btn-primary{
  background-color: #C4C2E3;
  border-color: #C4C2E3;
}

