<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
    body{
      background-color: #CEEEDF;
}
    }
    .bg-green{
  background-color: #CEEEDF;
}
.bg-rose{
  background-color: #FFD9F6;
}
.bg-blue{
  background-color: #A6ECFE;
  
}
.bg-purple{
  background-color: #C4C2E3;
}
.bg-yellow{
  background-color: #FFFCCA;
}

.text-blue{
  color: #A6ECFE !important;
}
.text-rose{
  color: #FFD9F6 !important;
}
.text-green{
  color: #CEEEDF !important;
}
.text-purple{
  color: #C4C2E3 !important;
}
.text-yellow{
  color: #FFFCCA !important;
}
.shadowgrey{
  text-shadow: 1px 1px 1px grey;
}
.fredoka{
  font-family: 'Fredoka One', cursive;
}
    </style>
  </head>
  <body>
    <div class="container ">
      <div class="row text-center">
        <div class="col">
        <%= image_tag attachments['cat.png'].url, width: 200, height: 200 %>
        </div>
      </div>
      <div class="row justify-content-center">
        <h1 class="text-yellow shadowgrey fredoka">Bienvenue chez nous !</h1>
      </div>
      <div class="row text-center fredoka">
        <p class="col-12">
          Tu t'es inscrit sur E-cats.fr en utilisant l'e-mail suivant : <%= @user.email %>.
        </p>
        <p class="col-12">
          Pour accéder à ton espace client, connecte-toi via : <%= link_to "Profil", user_url(@user, host: 'https://e-cats-production.herokuapp.com/users/sign_in' ) %>.
        </p>
        <p class="col-12">
          Tu vas pouvoir profiter de nombreux avantages et parcourir l'ensemble de notre catalogue de photos!!!
        </p>
        <h2 class="col-12 shadowgrey text-rose fredoka">&#128147 &#128008  À très vite sur Cat Land ! &#128008 &#128147</h2>
      </div>
    </div>
  </body>
</html>