<footer class="page-footer font-small mdb-color lighten-3 pt-4 bg-primary">
  <div class="container text-white text-center text-md-left">
    <div class="row">
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">E-cats</h5>
        <p>E-cats des milliers de photos de chats à disposition</p>
        <p>Trouver toutes les photos qui vous font plaisir</p>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!" class="text-white">Events</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!" class="text-white">Qui sommes nous?</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!" class="text-white">Galerie photo</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!" class="text-white">Galerie vidéo</a>
            </p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1 text-left">
        <h5 class="font-weight-bold text-uppercase mb-4">Addresse</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <i class=" mr-3"></i> <i class="fas fa-home"></i> Rennes, 35000, FR</p>
          </li>
          <li>
            <p>
              <i class=" mr-3"></i> <i class="fas fa-at"></i> info@e-cats.com</p>
          </li>
          <li>
            <p>
              <i class=" mr-3"></i> <i class="fas fa-phone"></i> + 02 512 548 69</p>
          </li>
          <li>
            <p>
              <i class=" mr-3"></i> <i class="fas fa-mobile"></i> + 06 234 567 89</p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
        <h5 class="font-weight-bold text-uppercase mb-4">SUIVEZ NOUS</h5>
        <a type="button" href="https://www.facebook.com/" class="btn-floating ">
          <i class="fab fa-facebook fa-4x text-white"></i>
        </a>
        <a type="button" href="https://twitter.com/?lang=en" class="btn-floating ">
          <i class="fab fa-twitter fa-4x text-white"></i>
        </a>
        <a type="button" href="https://www.instagram.com/" class="btn-floating ">
          <i class="fab fa-instagram fa-4x text-white"></i>
        </a>
        <a type="button" href="https://www.pinterest.com/" class="btn-floating ">
          <i class="fab fa-pinterest fa-4x text-white"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="text-center py-3">© 2020 Copyright:
    <a href="https://github.com/BearCub29" class="text-white"> Bearcub29 </a>
    <a href="https://github.com/khatba" class="text-white"> Khatba </a>
  </div>
</footer> 
